.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
}

.logo {
    width: 50px;
    height: 50px;
    background-color: red;
    margin-left: 40px;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.burger {
    display: none;
}

.nav a, #mobileMenu a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    margin-right: 40px;
    font-family: 'Raleway', sans-serif;
    transition: .5s;
}

#mobileMenu a{
    color: white;
    width: 100%;
    margin: 0px;
    text-align: center;
    display:inline-block;
    padding: 15px;
    border-bottom: solid 1px white;
}

@media (max-width: 992px) {
    .nav a {
        transition: .5s;
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .burger {
        display: block;
    }

    .link {
        display: none;
    }
}

#mobileMenu {
    width: 300px;
    height: 800px;
    background-color: #333;
    position: absolute;
    right: 0px;
}

.mobileShow {
    display: block;
}

.mobileHide {
  display: none;  
}

.main-img-container {
    height: 80vH;
    width: 100%;
    background-image: linear-gradient(white,transparent 20%), url('./imgs/main.jpg');
    background-position: 20% 20%;
    background-size: cover;
}

.main-content {
    width: 100%;
    height: 300px;
}

footer{
    width: 100%;
    height: 85px;
    background-color: #333;
}